.formContainer {
    margin-top: 30px !important;
}

.paperContainer {
    background-color: #626262 !important;
    padding-top: 5px;
    padding-bottom: 40px;
    color: #eeeeee !important;
    -webkit-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    margin-bottom: 20px;
}

.datePicker {
    margin-bottom: 20px !important;
}

hr {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 80%;
}

.commentsSection {
    display: block;
    margin-top: 35px !important;
    width: 80%;
}

.addConcertButton {
    margin-top: 25px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.addConcertButton:hover {
    background-color: aqua !important;
}

.input {
    color: #eeeeee !important;
    font-family: 'Exo 2', sans-serif !important;
}

.inputWrapper {
    color: #eeeeee !important;
    font-family: 'Exo 2', sans-serif !important;
}

.inputLabel {
    color: #eeeeee !important;
    font-family: 'Exo 2', sans-serif !important;
}

.MuiInput-underline:before {
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    content: "\00a0" !important;
    position: absolute !important;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    border-bottom: 1px solid #eeeeee !important;
    pointer-events: none !important;
}

.rating {
    font-size: 30px;
}

.rating-empty {

}

.rating-full {
    color: yellow;
}

.ratingWrapper {
    margin-bottom: 10px;
}