@media only screen and (max-width: 599px) {
    .username {
        display: block;
        margin-right: 8px !important;
        margin-bottom: 5px;
    }
    .siteTitle {
        margin-top: unset;
    }
    .headerContainer {
        height: 144px;
    }
    .navButton {
        height: 62px !important;
    }
    .authButtons {
        background-color: transparent !important;
        padding-top: 7px !important;
        padding-bottom: 3px !important;
        top: -5px !important;
        right: -10px !important;
        height: 50px !important;
    }
    .authButtons > span {
    }
    .authButtons > a {
        float: right;
    }
    .linkTextWrapper {
        padding-top: 5px !important;
    }
    .clearButton {
        left: 7vw;
        bottom: 30px;
    }
    .deleteButton {
        right: 7vw;
        bottom: 30px;
    }
    .paperContainer {}
}

@media only screen and (max-width: 954px) {
    .headphones-logo {
        display: none
    }
}

.fa-user-alt {
    margin-right: 5px;
}


.navWrapper {
    height: 100%;
}

.siteTitleLink {
    text-decoration: none;
}

.linkTextWrapper {
    display: block;
    padding-top: 55px;
}

.navButton {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    color: aqua;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navButton:hover {
    background-color: #151515;
}

.authButtons {
    z-index: 2;
    background-color: #616161;
    position: absolute;
    padding: 5px 15px 5px 15px;
    border-bottom-left-radius: 7px;
    top: 0;
    right: 0;
    height: 25px;
}

.authButtons > i {
    color: white;
    margin-right: 5px;
}

.authButtons > span {
    color: white;
    margin-right: 30px;
}

.authButtons > a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.authButtons > a:hover {
    color: #DDDDDD;
}

/*Festival entry autocomplete*/
.MuiAutocomplete-root > .MuiTextField-root {
    width: 80% !important;
}
