.deleteButton {
    position: absolute !important;
    bottom: 60px;
    right: 48px;
}

.clearButton {
    position: absolute !important;
    bottom: 60px;
    right: 218px;
}

.bottomButton:hover {
    background-color: aqua !important;
}

.paperContainer {
    background-color: #626262 !important;
    padding: 15px 15px 15px 15px !important;
    margin: 15px 15px 15px 15px;
    color: #eeeeee !important;
    -webkit-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
}