.formContainer {
    margin-top: 30px !important;
}

.paperContainer {
    background-color: #626262 !important;
    padding-top: 5px;
    padding-bottom: 40px;
    -webkit-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    margin-bottom: 20px;
}

.datePicker {
    margin-bottom: 20px !important;
}

hr {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 80%;
}

.festivalSuggestion {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid grey;
}

.festivalSuggestion:hover {

}

.reviewsSection {
    margin-right: auto !important;
    margin-left: auto !important;
}

.commentsSection {
    display: block;
    margin-top: 35px !important;
    width: 80%;
}

.addConcertButton {
    margin-top: 25px !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.addConcertButton:hover {
    background-color: aqua !important;
}

.artistOptions {
    background-color: aliceblue;
}

.input {
    color: #eeeeee !important;
    font-family: 'Exo 2', sans-serif !important;
}

.inputWrapper {
    color: #eeeeee !important;
    font-family: 'Exo 2', sans-serif !important;
}

.inputLabel {
    color: #eeeeee !important;
    font-family: 'Exo 2', sans-serif !important;
}

.rating {
    font-size: 30px;
}

.rating-empty {

}

.rating-full {
    color: yellow;
}

.ratingSpan {
    width: 200px !important;
}