.inputField {
    width: 150px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
}

.datePicker {
    margin-bottom: -7px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.addButton {
    margin-right: 10px !important;
}