.container ul {
  margin: 0;
}

.App {
  text-align: center;
}

.headerContainer {
  height: 150px;
  background-color: rgba(0, 0, 0, 0.81);
}

.siteTitle {
  color: aqua;
}

.navButton {
  text-decoration: none;
  color: aqua;
}

h1 {
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 20px;
}

.blue {
  color: aqua;
}
