canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

.paperWrapper {
    position: relative;
    height: 100%;
}

.paperWrapper > div {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}


.paperLogin {
    background-color: #626262 !important;
    padding: 3vw 4vw 3vw 4vw !important;
    color: #eeeeee !important;
    -webkit-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
    box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75) !important;
}

.createAccountLink {
    font-size: 16px;
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
}

.createAccountLink:hover {
    cursor: pointer;
    color: aqua !important;
}
